a{ text-align: center;
    padding:20;
    color: black;
    font-size: 20;
  }
.hi{
    padding-top: 20;
    text-align: center;
    font-size: 40;
    font-style: italic;
}
.h2{
    font-size: 30;
    text-align: center;
}
.img_1{
    float: left;
    height: 275px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
    padding-right:20px ;
  }
  .img_2{
    float: right;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover; 
    align-self: baseline;
    padding-left:20px
  }
  .img_3{
    float: right;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover; 
    align-self: baseline;
    padding-left:20px
  }
  p{
    font-size: 23px;
  }
  ol{text-align: center;
    text-align: left;
    
    padding-left: 250;
    font-size:23px ;
    list-style-position: inside;
  }
table, td {
   
    text-align: center;
    border: 1px solid;
    font-size:23px ;
  }
body{
   
    
    padding-bottom:20px ;
    
}
.centreTable{
    margin: 0px auto;
    
}
#stats{
    padding-bottom:20 ;
}
#suggestions{
    text-align: center;
}